.form-group {
    padding-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.Label {
    background-color:transparent;
}

#file_type, #trend_type, #file_type_right, #trend_type_right {
    display: block;
    height: 36px;
    width: 100%;
    border: none;
    border-radius: 0 !important;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
}

.well, .well-sm {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F5F5F5;
}

#line_graph_1 {
    width: 100%;
}

.c3-line-google {
    stroke-width: 2px;
    stroke-dasharray: 5, 5, 5, 5, 5, 5, 10, 5, 10, 5, 10, 5;

}

.c3-line-youtube {
    stroke-width: 4px;
    stroke-dasharray: 1, 1;
}

.c3-line-youtubeComments {
    stroke-width: 1px;
}

.rangeslider {
    width: 100%;
    height: 10px;
}

.rangeslider__fill {
    background: #FA9150 !important;
}

.rangeslider__handle {
    top: -5px !important;
    width: 20px !important;
    height: 20px !important;
}

.c3 {
    font: 10px Helvetica;
}

.line_graph_legend {
    width: 100%;
    margin-top: 5px;
}

#week_slider_header {
    text-align: center;
}

.line_graph_header {
    text-align: center;
    margin-top: 0px;
}

.left_container {
    float: left;
}
#left_container {
    width: 48%;
    margin-left: 15px;
}
#right_container {
    width: 48%;
    margin-right: 15px;
}

.right_container {
    float: right;
}

.container {
    width: 50%;
}

.legend {
    text-align: center;
}

#merge_button {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

.legend span {
    padding-right: 10px;
    cursor: pointer;
    color: black;
}

#merge_container {
    display: none;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

#line_graph_merged_header {
    margin-top: 20px;
}

#slider_container {
    margin-top: 10px;
}
#line_graph_merged_legend {
    font-size: 12px;
}
.irs-slider {
    top: 28px;
    width: 20px;
    height: 20px;
}

.c3-axis-y-label {
    font-size: 12px;
}

.c3-axis-x-label {
    font-size: 12px;
}

.btn-default {
    background-color: #F5F5F5 !important;
}
