#Top_Container{z-index:999; display:block; margin:0; padding-top:10px; width:100%;}
#Container_Top_Left {float:left; display:block; margin:0; padding-top:10px; width:50%;}
#middletop{float:left; display:block; margin:0; padding-left: 15px; width:20%; height:30px;}
#righttop{float:right; display:block; margin:0; padding-left: 10px; width:20%; height:60px;}
#lefttop{float:left; display:block; margin:0; padding-left: 10px; width:40%; height:40px;}
#Container_Top_Right {float: right; display:block; margin:0; padding-top:10px; width:50%;}
#middletop_right{float:left; display:block; margin:0; padding-left: 15px; width:20%; height:30px;}
#righttop_right{float:right; display:block; margin:0; padding-left: 20px; width:20%; height:50px;}
#lefttop_right{float:left; display:block; margin:0; padding-left: 10px; width:40%; height:40px;}
#WritingGoogle{display:block; padding-top:20px;}
#WritingYoutube{display:block; padding-top:20px;}
#WritingGoogle_right{display:block; padding-top:20px;}
#WritingYoutube_right{display:block; padding-top:20px;}
#pic { float:right; display:block; margin:0; padding-top: 50px; padding-right: 50px; width:100px;}
#box { float:left; display:block; margin:0; padding:0; width:400px; height:300px}
#pic_right{ float:right; display:block; margin:0; padding-top: 50px; padding-right: 50px; width:100px;}
#box_right { float:left; display:block; margin:0; padding:0; width:400px;height:300px}
